@using Todo.Core.ViewModels.Membership
@using Todo.Core.Entities
@model UserSignInWithFormVM

@{
    ViewData["Title"] = "Login";
    var result = (ServiceResult)ViewData["Result"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Giriş</h3>
        </div>
        <div class="panel-body">
            <div class="row">

               




                <div class="col-md-4 col-lg-offset-4">
                    <form class="content validationGroup" method="post" asp-controller="Account" asp-action="Login">

                        @if (result != null && result.MessageType != Todo.Core.Enums.EMessageType.Success)
                        {<div class="row">
                                <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <div class="alert alert-danger">
                                        <strong>@result.Message</strong>
                                    </div>
                                </div>
                            </div>
                        }

                         <div class="row" id="register">
                            
                                 <div class="form-group">
                                     <label class="control-label">Kullanıcı Adı</label>
                                     <input asp-for="Username" class="form-control required" type="text">
                                 </div>
                             
                                 <div class="form-group ">
                                     <label class="control-label" >Şifre </label>
                                     <input asp-for="Password" class="form-control required" type="text">
                                 </div>

                             <button id="btnLogin" type="submit" class="btn btn-primary btn-lg full-width">Giriş Yap</button>

                         </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
